Repository FuadGrimaldi/project-collab-hatta: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger-backend, trigger-frontend, trigger-mobile

trigger-backend:
  stage: triggers
  trigger:
    include: backend/.gitlab-ci.yml

trigger-frontend:
  stage: triggers
  trigger:
    include: frontend/.gitlab-ci.yml

trigger-mobile:
  stage: triggers
  trigger:
    include: mobile/.gitlab-ci.yml

feat : add orders
  backend/app/Http/Controllers/CartController.php
  backend/app/Http/Controllers/OrderController.php
  backend/app/Http/Requests/OrderCreateRequest.php
  backend/app/Http/Resources/CartResource.php
  backend/app/Models/Order.php
  backend/app/Models/OrderItem.php
  backend/routes/api.php
Due: trigger-backend

feat: Slicing UI Cart Page
  frontend/app/(landing)/cart/page.js
  frontend/components/landingpage/cart/CartItem.js
  frontend/components/landingpage/cart/CartList.js
  frontend/components/landingpage/cart/CartSummary.js
  frontend/tailwind.config.js
Due: trigger-frontend

feat: add update product
  backend/app/Http/Controllers/ProductControllerDev.php
  backend/app/Http/Requests/ProductUpdateRequest.php
  backend/app/Http/Services/ProductService.php
Due: trigger-backend

feat: API Address (all, by id address, by id user, add, edit, delete)
  backend/app/Http/Controllers/AddressController.php
  backend/app/Http/Requests/AddressCreateRequest.php
  backend/app/Http/Requests/AddressUpdateRequest.php
  backend/app/Models/Address.php
  backend/database/seeders/AddressSeeder.php
  backend/routes/api.php
Due: trigger-backend

feat: add api edit profile
  backend/app/Http/Controllers/UserController.php
  backend/app/Http/Requests/UserRegisterRequest.php
  backend/app/Http/Resources/UserProfileResource.php
  backend/app/Http/Services/UserService.php
  backend/routes/api.php
Due: trigger-backend

refactor: styling responsive Cart item
  frontend/components/landingpage/cart/CartItem.js
Due: trigger-frontend

feat: Slicing UI Checkout page
  frontend/app/(landing)/checkout/page.js
  frontend/components/landingpage/checkout/page.js
  frontend/public/icons/bca.svg
  frontend/public/icons/bni.svg
  frontend/public/icons/mandiri.svg
Due: trigger-frontend

refactor: fix styling checkout page
  frontend/components/landingpage/checkout/page.js
Due: trigger-frontend

feat: Slicing UI Checkout Payment
  frontend/app/(landing)/checkout-payment/page.js
  frontend/components/landingpage/checkout/CheckoutPageContent.js
  frontend/components/landingpage/checkout/CheckoutPayment.js
Due: trigger-frontend

feat: Slicing UI sidebar settings and Slicing UI wishlist
  frontend/app/(landing)/cart/page.js
  frontend/app/(landing)/settings/[tab]/page.js
  frontend/app/(landing)/settings/page.js
  frontend/components/landingpage/SideBar.js
  frontend/components/landingpage/button/CartButton2.js
  frontend/components/landingpage/cart/CartList.js
  frontend/components/landingpage/settings/address/Address.js
  frontend/components/landingpage/settings/change-password/ChangePassword.js
  frontend/components/landingpage/settings/my-item/MyItem.js
  frontend/components/landingpage/settings/my-order/MyOrder.js
  frontend/components/landingpage/settings/notification/Notification.js
  frontend/components/landingpage/settings/profile/Profile.js
  frontend/components/landingpage/settings/wishlist/Wishlist.js
  frontend/components/landingpage/settings/wishlist/WishlistCard.js
  frontend/components/landingpage/settings/wishlist/WishlistItem.js
  frontend/public/images/img-profile.svg
Due: trigger-frontend

feat: logic for delete item wishlist
  frontend/components/landingpage/settings/wishlist/Wishlist.js
  frontend/components/landingpage/settings/wishlist/WishlistCard.js
Due: trigger-frontend

feat: Slicing UI Profile, Change Password, Address, Form Add Address
  frontend/app/(landing)/settings/[tab]/add/page.js
  frontend/components/landingpage/settings/address/AddAddress.js
  frontend/components/landingpage/settings/address/Address.js
  frontend/components/landingpage/settings/change-password/ChangePassword.js
  frontend/components/landingpage/settings/profile/Profile.js
  frontend/public/images/avatar.svg
Due: trigger-frontend

feat : add Epic Wishlist
  documentation/backlog/WHISLIST/E1-US01.md
  documentation/backlog/WHISLIST/epic-wishlist.md
Due: none

feat : add API wishlist
  backend/app/Http/Controllers/CartController.php
  backend/app/Http/Controllers/WishlistController.php
  backend/app/Http/Requests/WishlistCreateRequest.php
  backend/app/Models/Wishlist.php
  backend/routes/api.php
Due: trigger-backend

fix : remove empty function in all controller
  backend/app/Http/Controllers/AddressController.php
  backend/app/Http/Controllers/CartController.php
  backend/app/Http/Controllers/DetailSystemRequireMentController.php
  backend/app/Http/Controllers/OrderController.php
  backend/app/Http/Controllers/SystemRequireMentController.php
  backend/app/Http/Controllers/WishlistController.php
Due: trigger-backend

fix: change style border settings
  frontend/app/(landing)/settings/[tab]/page.js
  frontend/components/landingpage/SideBar.js
  frontend/components/landingpage/settings/address/Address.js
  frontend/components/landingpage/settings/change-password/ChangePassword.js
  frontend/components/landingpage/settings/profile/Profile.js
  frontend/components/landingpage/settings/wishlist/Wishlist.js
Due: trigger-frontend

feat: Slicing UI My Order
  frontend/components/landingpage/settings/my-order/MyOrder.js
  frontend/components/landingpage/settings/my-order/OrderTabs.js
Due: trigger-frontend

fix: api address and registrasi request
  backend/app/Http/Controllers/AddressController.php
  backend/app/Http/Requests/UserRegisterRequest.php
Due: trigger-backend

refactor: style my order
  frontend/components/landingpage/settings/my-order/MyOrder.js
Due: trigger-frontend

feat: Slicing UI My Item
  frontend/components/landingpage/settings/my-item/MyItem.js
Due: trigger-frontend

refactor: some style image and card MyOrder, MyItem and Wishlist
  frontend/components/landingpage/settings/my-item/MyItem.js
  frontend/components/landingpage/settings/my-order/MyOrder.js
  frontend/components/landingpage/settings/wishlist/WishlistItem.js
Due: trigger-frontend

feat: Slicing UI Notification
  frontend/components/landingpage/settings/notification/Notification.js
  frontend/components/landingpage/settings/notification/NotificationItem.js
Due: trigger-frontend

refactor: style color homepage
  frontend/app/(landing)/login/page.js
  frontend/app/globals.css
  frontend/app/page.js
  frontend/components/landingpage/SectionHeader.js
  frontend/components/landingpage/SliderImage.js
  frontend/components/landingpage/button/DiscoverAllButton.js
  frontend/components/landingpage/homepage/BestDeals.js
  frontend/components/landingpage/homepage/BestDealsList.js
  frontend/components/landingpage/homepage/BestSellers.js
  frontend/components/landingpage/homepage/News.js
  frontend/components/landingpage/homepage/NewsList.js
  frontend/components/landingpage/homepage/Trending.js
  frontend/tailwind.config.js
Due: trigger-frontend

refactor: style products, cart, checkout, settings
  frontend/app/(landing)/checkout-payment/page.js
  frontend/app/(landing)/forgot-password/page.js
  frontend/app/(landing)/login/page.js
  frontend/app/(landing)/products/[id]/page.js
  frontend/app/(landing)/products/page.js
  frontend/app/(landing)/register/page.js
  frontend/app/(landing)/settings/[tab]/add/page.js
  frontend/app/(landing)/settings/[tab]/page.js
  frontend/components/landingpage/Footer.js
  frontend/components/landingpage/Navbar.js
  frontend/components/landingpage/SideBar.js
  frontend/components/landingpage/button/CartButton.js
  frontend/components/landingpage/button/CartButton2.js
  frontend/components/landingpage/button/ReadMoreButton.js
  frontend/components/landingpage/button/SeeDetailButton.js
  frontend/components/landingpage/cart/CartItem.js
  frontend/components/landingpage/cart/CartList.js
  frontend/components/landingpage/cart/CartSummary.js
  frontend/components/landingpage/checkout/CheckoutPageContent.js
  frontend/components/landingpage/checkout/CheckoutPayment.js
  frontend/components/landingpage/products/FilterProduct.js
  frontend/components/landingpage/products/FilterSortByProduct.js
  frontend/components/landingpage/settings/address/AddAddress.js
  frontend/components/landingpage/settings/address/Address.js
  frontend/components/landingpage/settings/change-password/ChangePassword.js
  frontend/components/landingpage/settings/my-item/MyItem.js
  frontend/components/landingpage/settings/my-order/MyOrder.js
  frontend/components/landingpage/settings/my-order/OrderTabs.js
  frontend/components/landingpage/settings/notification/Notification.js
  frontend/components/landingpage/settings/profile/Profile.js
  frontend/components/landingpage/settings/wishlist/Wishlist.js
  frontend/components/landingpage/settings/wishlist/WishlistCard.js
  frontend/components/landingpage/settings/wishlist/WishlistItem.js
  frontend/tailwind.config.js
Due: trigger-frontend

fix: login regis button and refactor styling login regis
  frontend/app/(landing)/forgot-password/page.js
  frontend/app/(landing)/login/page.js
  frontend/app/(landing)/register/page.js
  frontend/app/page.js
  frontend/components/landingpage/SideBar.js
  frontend/components/landingpage/button/SeeDetailButton.js
Due: trigger-frontend

feat: implementation api login, regis, products, fix: logic move page cart, checkout, payment
  frontend/app/(landing)/cart/page.js
  frontend/app/(landing)/checkout-payment/page.js
  frontend/app/(landing)/checkout/page.js
  frontend/app/(landing)/login/page.js
  frontend/app/(landing)/products/[id]/page.js
  frontend/app/(landing)/products/page.js
  frontend/app/(landing)/register/page.js
  frontend/app/(landing)/settings/[tab]/add/page.js
  frontend/app/(landing)/settings/[tab]/page.js
  frontend/app/layout.js
  frontend/app/page.js
  frontend/components/landingpage/ErrorPage.js
  frontend/components/landingpage/Loading.js
  frontend/components/landingpage/Navbar.js
  frontend/components/landingpage/Notification.js
  frontend/components/landingpage/SliderImage.js
  frontend/components/landingpage/button/BackToHome.js
  frontend/components/landingpage/button/CartButton2.js
  frontend/components/landingpage/cart/CartSummary.js
  frontend/components/landingpage/checkout/CheckoutPageContent.js
  frontend/components/landingpage/checkout/CheckoutPayment.js
  frontend/config/config.js
  frontend/context/AuthContext.js
  frontend/package-lock.json
  frontend/package.json
  frontend/public/images/404.svg
  frontend/public/images/500.svg
  frontend/public/images/develop.svg
  frontend/public/images/no-connection.svg
  frontend/services/api.js
Due: trigger-frontend

fix: ubah base code jadi https
  frontend/config/config.js
Due: trigger-frontend

fix: responsive navbar login
  frontend/components/landingpage/Navbar.js
Due: trigger-frontend

fix: deploy text color
  frontend/app/(landing)/products/[id]/page.js
  frontend/components/landingpage/cart/CartItem.js
  frontend/components/landingpage/cart/CartList.js
  frontend/components/landingpage/checkout/CheckoutPageContent.js
Due: trigger-frontend

fix: change title web
  frontend/app/layout.js
Due: trigger-frontend

feat: add gitignore
  backend/.env
  backend/.gitignore
  frontend/config/config.js
Due: trigger-backend, trigger-frontend

Path conditions:
  trigger-backend: any of: backend/**/*
  trigger-frontend: any of: frontend/**/*
  trigger-mobile: any of: mobile/**/*
