Repository FuadGrimaldi/project-collab-hatta: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger-backend, trigger-frontend, trigger-mobile

trigger-backend:
  stage: triggers
  trigger:
    include: backend/.gitlab-ci.yml

trigger-frontend:
  stage: triggers
  trigger:
    include: frontend/.gitlab-ci.yml

trigger-mobile:
  stage: triggers
  trigger:
    include: mobile/.gitlab-ci.yml

add: story
  story.md
Due: none

fix: change name hatta
  story.md
Due: none

fix: ubah warung menjadi minimarket
  story.md
Due: none

edit name Riko to Hatta
  story.md
Due: none

fix: add story vocuher 5000
  story.md
Due: none

fix: change warung to minimarket
  story.md
Due: none

fix: papeline
  README_AHYA.md
  frontend/tailwind.config.ts
  frontend/tsconfig.json
  story.md
  tes.js
Due: trigger-frontend

add : folder documentation
  documentation/backlog/EP1/E1-US01.md
  documentation/backlog/EP1/epic-profile.md
  documentation/backlog/index.md
  documentation/designdb.template.md
  documentation/index.md
  documentation/postmortem.template.md
  documentation/userstory.template.md
Due: none

add user story
  documentation/backlog/EP1/E1-US01.md
  documentation/backlog/EP1/epic-profile.md
  documentation/backlog/index.md
  documentation/index.md
Due: none

docs: add database desain documentation
  documentation/designdb.template.md
Due: none

fix : edit index.md in backlog
  documentation/backlog/index.md
Due: none

fix: edit epic-profile
  documentation/backlog/EP1/epic-profile.md
Due: none

fix: edit folder structur Epic Profile
  documentation/backlog/PROFILE/EP1/E1-US01.md
  documentation/backlog/PROFILE/EP1/epic-profile.md
Due: none

fix: remove folder EP1
  documentation/backlog/EP1/E1-US01.md
  documentation/backlog/EP1/epic-profile.md
Due: none

feat : add Epic Product
  documentation/backlog/PRODUCT/EPR1/E1-US01.md
  documentation/backlog/PRODUCT/EPR1/epic-product.md
Due: none

feat : add epic transaction
  documentation/backlog/TRANSACTION/ET1/E1-US01.md
  documentation/backlog/TRANSACTION/ET1/epic-transaction.md
Due: none

feat : add epic order
  documentation/backlog/ORDER/E1-US01.md
  documentation/backlog/ORDER/epic-order.md
Due: none

fix : edit folder epic order
  documentation/backlog/ORDER/EO1/E1-US01.md
  documentation/backlog/ORDER/EO1/epic-order.md
Due: none

add file .env
  backend/.env
Due: trigger-backend

feat: add page dashboard
  frontend/app/dashboard/page.tsx
Due: trigger-frontend

fix: change schema table users for migration
  backend/database/migrations/0001_01_01_000000_create_users_table.php
Due: trigger-backend

feat: add table profile for migration
  backend/database/migrations/2024_08_30_040146_create_profiles_table.php
Due: trigger-backend

feat: add migration database
  backend/database/migrations/2024_08_30_040152_create_products_table.php
  backend/database/migrations/2024_08_30_040158_create_product_details_table.php
  backend/database/migrations/2024_08_30_040204_create_gallery_table.php
  backend/database/migrations/2024_08_30_040213_create_orders_table.php
  backend/database/migrations/2024_08_30_040222_create_order_items_table.php
  backend/database/migrations/2024_08_30_040231_create_payments_table.php
  backend/database/migrations/2024_08_30_040236_create_transactions_table.php
  backend/database/migrations/2024_08_30_040244_create_checkouts_table.php
  backend/database/migrations/2024_08_30_040245_create_discounts_table.php
  backend/database/migrations/2024_08_30_040306_create_order_discounts_table.php
  backend/database/migrations/2024_08_30_040307_create_product_discounts_table.php
  backend/database/migrations/2024_08_30_040308_create_master_system_requirements_table.php
  backend/database/migrations/2024_08_30_040308_create_wishlists_table.php
  backend/database/migrations/2024_08_30_040309_create_detail_requirements_table.php
  backend/database/migrations/2024_08_30_040310_create_filters_table.php
  backend/database/migrations/2024_08_30_040310_create_product_filters_table.php
Due: trigger-backend

feat: structure project, ui login and ui register
  frontend/app/(landing)/login/page.js
  frontend/app/(landing)/register/page.js
  frontend/package-lock.json
  frontend/package.json
  frontend/public/images/login.svg
  frontend/public/images/logo.svg
  frontend/public/images/register.svg
  tes.js
Due: trigger-frontend

fix: merge conflict
  frontend/app/layout.tsx
  frontend/app/page.tsx
  frontend/package-lock.json
Due: trigger-frontend

feat: ui forgot password and fix position logo login regis
  frontend/app/(landing)/forgot-password/page.js
  frontend/app/(landing)/login/page.js
  frontend/app/(landing)/register/page.js
  frontend/public/images/forgot-pass.svg
Due: trigger-frontend

fix: add atribute profile_img to users table
  backend/database/migrations/0001_01_01_000000_create_users_table.php
Due: trigger-backend

Path conditions:
  trigger-backend: any of: backend/**/*
  trigger-frontend: any of: frontend/**/*
  trigger-mobile: any of: mobile/**/*
