Repository FuadGrimaldi/project-collab-hatta: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger-backend, trigger-frontend, trigger-mobile

trigger-backend:
  stage: triggers
  trigger:
    include: backend/.gitlab-ci.yml

trigger-frontend:
  stage: triggers
  trigger:
    include: frontend/.gitlab-ci.yml

trigger-mobile:
  stage: triggers
  trigger:
    include: mobile/.gitlab-ci.yml

change table profile to address
  backend/database/migrations/2024_08_30_040146_create_profiles_table.php
  backend/database/migrations/2024_09_02_123629_address.php
Due: trigger-backend

feat: add database seeder
  backend/database/seeders/AddressSeeder.php
  backend/database/seeders/CheckoutsSeeder.php
  backend/database/seeders/DetailRequirementsSeeder.php
  backend/database/seeders/DiscountsSeeder.php
  backend/database/seeders/FiltersSeeder.php
  backend/database/seeders/GallerySeeder.php
  backend/database/seeders/MasterSystemRequirementsSeeder.php
  backend/database/seeders/OrderDiscountsSeeder.php
  backend/database/seeders/OrderItemsSeeder.php
  backend/database/seeders/OrdersSeeder.php
  backend/database/seeders/PaymentsSeeder.php
  backend/database/seeders/ProductDetailsSeeder.php
  backend/database/seeders/ProductDiscountsSeeder.php
  backend/database/seeders/ProductFiltersSeeder.php
  backend/database/seeders/ProductsSeeder.php
  backend/database/seeders/TransactionsSeeder.php
  backend/database/seeders/UsersSeeder.php
  backend/database/seeders/WishlistsSeeder.php
Due: trigger-backend

feat: slicing ui navbar
  frontend/app/page.js
  frontend/components/Navbar.js
  frontend/public/images/logo-gasruk.svg
Due: trigger-frontend

feat: Slicing UI Best Deals Homepage
  frontend/app/globals.css
  frontend/app/page.js
  frontend/components/landingpage/Navbar.js
  frontend/components/landingpage/SliderImage.js
  frontend/components/landingpage/button/CartButton.js
  frontend/components/landingpage/button/DiscoverAllButton.js
  frontend/components/landingpage/button/SeeDetailButton.js
  frontend/components/landingpage/products/BestDeals.js
  frontend/components/landingpage/products/BestDealsList.js
  frontend/hooks/useWindowSize.js
  frontend/lib/priceUtils.js
  frontend/package-lock.json
  frontend/package.json
  frontend/tailwind.config.js
Due: trigger-frontend

feat: Slicing UI Trending Homepage
  frontend/app/page.js
  frontend/components/landingpage/SectionHeader.js
  frontend/components/landingpage/button/CartButton.js
  frontend/components/landingpage/products/Trending.js
  frontend/components/landingpage/products/TrendingList.js
  frontend/public/images/trending1.png
  frontend/public/images/trending2.png
Due: trigger-frontend

feat: Slicing UI News Homepage
  frontend/app/page.js
  frontend/components/landingpage/button/ReadMoreButton.js
  frontend/components/landingpage/products/News.js
  frontend/components/landingpage/products/NewsList.js
  frontend/public/images/new2.png
  frontend/public/images/news1.png
  frontend/public/images/news3.png
Due: trigger-frontend

feat: Slicing UI Recommended Homepage
  frontend/app/page.js
  frontend/components/landingpage/products/BestDeals.js
  frontend/components/landingpage/products/BestDealsList.js
  frontend/components/landingpage/products/RecommendedList.js
  frontend/public/images/rec1.png
  frontend/public/images/rec2.png
  frontend/public/images/recommended1.png
Due: trigger-frontend

feat: Slicing UI BestSellers, Latest Release, Pre-Orders Homepage
  frontend/app/page.js
  frontend/components/landingpage/products/BestDealsList.js
  frontend/components/landingpage/products/BestSellerList.js
  frontend/components/landingpage/products/BestSellers.js
  frontend/components/landingpage/products/LatestReleaseList.js
  frontend/components/landingpage/products/PreordersList.js
  frontend/public/images/latest1.png
  frontend/public/images/pre1.png
  frontend/public/images/pre2.png
Due: trigger-frontend

refactor: folder name product to homepage
  frontend/components/landingpage/homepage/BestDeals.js
  frontend/components/landingpage/homepage/BestDealsList.js
  frontend/components/landingpage/homepage/BestSellerList.js
  frontend/components/landingpage/homepage/BestSellers.js
  frontend/components/landingpage/homepage/LatestReleaseList.js
  frontend/components/landingpage/homepage/News.js
  frontend/components/landingpage/homepage/NewsList.js
  frontend/components/landingpage/homepage/PreordersList.js
  frontend/components/landingpage/homepage/RecommendedList.js
  frontend/components/landingpage/homepage/Trending.js
  frontend/components/landingpage/homepage/TrendingList.js
Due: trigger-frontend

feat: Slicing UI Footer
  frontend/app/page.js
  frontend/components/landingpage/Footer.js
Due: trigger-frontend

fix : Add UserController
  backend/.env
  backend/app/Http/Controllers/AuthController.php
  backend/app/Http/Controllers/UserController.php
  backend/app/Http/Middleware/ApiAuthMiddleware.php
  backend/app/Http/Requests/UserLoginRequest.php
  backend/app/Http/Requests/UserRegisterRequest.php
  backend/app/Http/Resources/UserResource.php
  backend/app/Http/Services/ApiTokenService.php
  backend/app/Http/Services/UserService.php
  backend/app/Models/TokenManagement.php
  backend/bootstrap/app.php
  backend/database/migrations/2024_09_03_135218_create_token_management.php
  backend/database/seeders/DatabaseSeeder.php
  backend/database/seeders/UsersSeeder.php
  backend/routes/api.php
Due: trigger-backend

fix : fix conflict
  backend/app/Http/Controllers/AuthController.php
  backend/database/seeders/DatabaseSeeder.php
  backend/routes/api.php
Due: trigger-backend

fix : edit response formater
  backend/app/Helpers/ResponseFormatter.php
  backend/app/Http/Controllers/UserController.php
  backend/routes/api.php
Due: trigger-backend

Diagram Tech Arsitektur
  documentation/Diagram Tanpa Judul.drawio
Due: none

feat: Slicing UI Tab, Filter, and list Products
  frontend/app/(landing)/products/page.js
  frontend/components/landingpage/Footer.js
  frontend/components/landingpage/button/CartButton.js
  frontend/components/landingpage/homepage/BestDeals.js
  frontend/components/landingpage/modal/FilterModal.js
  frontend/components/landingpage/modal/SortModal.js
  frontend/components/landingpage/products/FilterProduct.js
  frontend/components/landingpage/products/FilterSortByProduct.js
Due: trigger-frontend

Delete Diagram Tanpa Judul.drawio
  documentation/Diagram Tanpa Judul.drawio
Due: none

feat : add API crud master data SystemRequireMent
  backend/app/Http/Controllers/SystemRequireMentController.php
  backend/app/Http/Requests/SystemRequireMentCreateRequest.php
  backend/app/Models/SystemRequirement.php
  backend/routes/api.php
Due: trigger-backend

feat: add route api product
  backend/routes/api.php
Due: trigger-backend

feat: add model for api product
  backend/app/Models/Gallery.php
  backend/app/Models/Product.php
  backend/app/Models/ProductDetail.php
Due: trigger-backend

feat : add crud detail system requirements
  backend/app/Http/Controllers/DetailSystemRequireMentController.php
  backend/app/Http/Requests/DetailSystemRequireMentCreateRequest.php
  backend/app/Http/Requests/DetailSystemRequireMentUpdateRequest.php
  backend/app/Models/DetailSystemRequireMent.php
  backend/app/Models/SystemRequirement.php
  backend/routes/api.php
Due: trigger-backend

feat:add API products (list, detail, add product)
  backend/app/Http/Controllers/ProductController.php
  backend/app/Http/Requests/ProductRequest.php
  backend/app/Http/Resources/ProductResource.php
  backend/app/Http/Services/ProductService.php
Due: trigger-backend

feat : add arsitecture image
  documentation/arsitecture.png
  documentation/tech-stack.md
Due: none

CHANGE: Using resources for product api
  backend/app/Http/Controllers/ProductControllerDev.php
Due: trigger-backend

fix:api route product
  backend/routes/api.php
Due: trigger-backend

feat:add formatter for array detail requirements
  backend/app/Helpers/RequirementFormatter.php
Due: trigger-backend

feat:add model product requirements
  backend/app/Models/ProductRequirements.php
Due: trigger-backend

fix:add respone detail system requirement
  backend/app/Http/Resources/ProductResource.php
  backend/app/Models/Product.php
  backend/database/migrations/2024_09_04_090437_product_requirement.php
  backend/database/seeders/CreateProductRequirement.php
  backend/database/seeders/DetailRequirementsSeeder.php
  backend/database/seeders/MasterSystemRequirementsSeeder.php
Due: trigger-backend

Merge branch 'main' of https://gitlab.com/ahya-dev/colabs-project-hatta into fuad
  backend/database/seeders/DatabaseSeeder.php
Due: trigger-backend

feat: Slicing UI Detail Product
  frontend/app/(landing)/products/[id]/page.js
  frontend/public/images/detail1.png
  frontend/public/images/gallery1.png
  frontend/public/images/gallery2.png
  frontend/public/images/gallery3.png
  frontend/public/images/gallery4.png
Due: trigger-frontend

feat: UI add to wishlist and You may like this product in Detail Product Page
  frontend/app/(landing)/products/[id]/page.js
Due: trigger-frontend

Path conditions:
  trigger-backend: any of: backend/**/*
  trigger-frontend: any of: frontend/**/*
  trigger-mobile: any of: mobile/**/*
